<h2>What would you like write about?</h2>

<a href="<%= new_users_person_path %>" class="button">A Person</a>

<a href="<%= 
  #new_users_place_path 
%>" class="button">NOT YET but soon a place too</a>