
<h3>People</h3>
<% attrs = @people.first ? @people.first.attributes.keys : [] %>

<%= render '/admins/shared/table', hash: {
  attrs: attrs,
  instances: @people,
  attrs_to_link: {
    name: :admins_person_path
  }
}%>