<li class="divider"></li>
<li><a href="<%= admins_people_path %>">People</a></li>

<li class="divider"></li>
<li><a href="<%= admins_places_path %>">Places</a></li>

<li class="divider"></li>
<li><a href="<%= admins_users_path %>">UserAuthors</a></li>

<li class="divider"></li>
<li><a href="<%= admins_categories_path %>">Categories</a></li>