<li class="divider"></li>
<li><a href="<%= admins_people_path %>">Profiles</a></li>

<li class="divider"></li>
<li><a href="#"></a></li>

<li class="divider"></li>
<li><a href="#"></a></li>

<li class="divider"></li>