<!-- 

  grabbed from http://zurb.com/building-blocks/top-bar-with-centered-buttons
  
  much more included, but using bare min now

 -->

<nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="center-buttons">
      <%= render './admins/shared/navlinks' %>
    </ul>
  </section>
</nav>